
<div class="card text-white bg-danger mb-3" style="max-width: 60rem;">
    <div class="card-header">Error!</div>
    <div class="card-body">
        <h5 class="card-title">Encountered Error!</h5>
        <p class="card-text"><strong>@ViewBag.Message.</strong></p>
        <p class="card-text"><strong>Please contact Administrator for support</strong></p>
    </div>
</div>


