@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-dark bg-light mb-3" style="max-width: 50rem;">
    <div class="card-header">Most sold Vehicle</div>
    <div class="card-body">
        <h5 class="card-title">@Model</h5>
        <p class="card-text">Most sold vehicle is determined by the data available as of now. Please upload latest data</p>
    </div>
</div>
