<div class="card text-dark bg-light mb-3" style="max-width: 60rem;">
    <div class="card-header">Notes</div>
    <div class="card-body">
        <h5 class="card-title">Assumptions and Limitation of this application</h5>
        <p class="card-text">
            This application has been developed solely for the purpose of demonstrating software architecture for the given assignment.
            Foreseeing future requirement, file uploading is decoupled from Vehicle data to facilitate user to upload a file that can be parsed and saved in a database.  Though as per the current requirement, only CSV file has to be uploaded and saved in file system, following implementations expected in future.
            Since the Currency should be formatted at UI level (js), currency formatted in code behind (though not preffered way)
            <ul>
                <li>FILE_CSV/FILE_XML : as long as file to be saved to file system the implementation would be the same irrespective of file type</li>
                <li>DB_CSV : Parse CSV file and save to DB</li>
                <li>DB_XML : : Parse XML file and save to DB</li>
            </ul>
            For simplicity, logging and Error handling has been globalized using default logging options.
            <br />
            <strong>Omissions/Limitations:</strong>
            <br />
            Ideally, this application has to be implemented as RESTful API but keeping the scope the requirement this has been developed as monolithic application for   ease of deployment for code evaluation. Http 404 error is not handled.Data uploaded most recently is one that serves as data for this application. Previous data file will be backed up and not made available for this application.
            If data uploaded to database this should not be the case. Data uploaded will be appended to existing data. Data file to be uploaded should conforms to template provided.

        </p>
    </div>
</div>