<div class="card text-dark bg-light mb-3" style="max-width: 60rem;">
    <div class="card-header">Privacy Notice</div>
    <div class="card-body">
        <h5 class="card-title">Privacy</h5>
        <p class="card-text">
            This application has been developed  solely for the purpose of demonstrating software architecture for the assignment given by<strong> Cox Auto inc </strong>as a code test to <strong>Sekhar Katreddy</strong>. Cox Auto is authorized to evaluate the source code.

        </p>
    </div>
</div>